<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Form</h1>
<form action="/doForm" th:object="${product}" method="post" enctype="multipart/form-data">
    <input type="text" th:field="*{id}" placeholder="id"><br>
    <input type="text" th:field="*{name}" placeholder="name"><br>
    <input type="file" name="image" ><br>
    <input type="text" th:field="*{price}" placeholder="price"><br>
    <textarea  placeholder="dess" th:field="*{description}"></textarea><br>
    <input type="submit" value="Send">
</form>
</body>
</html>